.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.nav{
    width: 25%;
    height: 100%;
    background-color: #fb6902;
    display: flex;
    flex-direction: column;
}
.nav img{
    width: 100px;
    margin: 20px auto;
}
.div{
    width: 100%;
    max-height: 75%;
}
.nav h3{
    text-align: center;
    text-transform: capitalize;
}
.nav ul{
    padding: 10px 0;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
}

.nav ol{
    padding: 0px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: disc;
}


.nav li{
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.nav li span{
   font-size: 20px;
   font-weight: 900;
}


.nav li:hover{
    background-color: #f9f9f9;
}
.nav section{
    width: 100%;
    padding: 0px 0 0 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
}
.nav section p{
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-radius: 5px;
}
.nav section p:hover{
    background-color: #f9f9f9;
}
.nav section div{
    padding: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex-direction: column-reverse;
}

.main{
    padding: 10px;
    width: 75%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main h1{
    text-align: center;
}

.main form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    border: 2px solid #fb6902;
    padding: 5px;
    border-radius: 5px;
}

.details div{
    display: flex;
    gap: 5px;
}
.details div label{
    font-weight: 500;
}
.details div p{
    text-transform: capitalize;
}

.input, .merge{
    display: flex;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    border: 2px solid #fb6902;
    padding: 10px;
    border-radius: 5px;
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
}

.display{
    display: flex;
    flex-direction: column;
    padding: 37px 0 37px 0;
    position: absolute;
    width: 265px;
    height: 340px;
    border: 1px solid;
    right: 10px;
    background-color: #f9f9f9;
}
.display h4{
    font-size: 5%;
}
.header{
    width: 90%;
    margin: 0px auto 10px auto;
    border: 1px solid;
    border-collapse: collapse;
}

.header span{
    font-weight: 700;
}

.header td{
    border: 1px solid;
    width: 33%;
    font-size: 20%;
}

.displayTable, .extra{
    width: 90%;
    margin: 5px auto 5px auto;
    border-collapse: collapse;
}

.extra td{
    width: fit-content;
    height: auto;
    text-align: left;
    font-size: 1%;
}
.extra th{
    width: 25%;
    height: auto;
    text-align: left;
    font-size: 1%;
}

.displayTable td{
    width: 33%;
    font-size: 20%;
}
.displayTable th{
    width: 33%;
    font-size: 20%;
}

.displayTable tr{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.comment{
    margin: 1%;
    width: fit-content;
    font-size: 1%;
}

.comment span{
    font-weight: 800;
    font-size: 1%;
}

.desc{
    margin: 1%;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid;
}
.desc strong{
    font-size: 20%;
}
.desc p{
    font-size: 1%;
}
.line{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: fit-content;
    gap: 5px;
    align-self: flex-end;
    margin-right: 55px;
    margin-top: auto;
    position: absolute;
    bottom: 30px;
}

.line span{
    width: 66px;
    height: 2px;
    border: 1px solid;
    background-color: #000;
}
.line p{
    font-size: 20%;
}
.input div input{
    outline: 1px solid #000;
    border: none;
    border-radius: 5px;
    height: 25px;
    text-indent: 5px;
    width: 50px;
    max-width: fit-content;
    margin-right: 5px ;
}

.span {
    font-weight: 700;
}
.merge div{
    display: flex;
    align-items: center;
}
.merge div input{
    border: 1px solid #000;
    border-radius: 5px;
    height: 25px;
    text-indent: 5px;
    width: 200px;
    max-width: fit-content;
    margin-right: 5px;
}
/* Track */
.nav ol::-webkit-scrollbar , .input::-webkit-scrollbar, .section::-webkit-scrollbar{
    width: 5px; /* width of the scrollbar */
}

/* Track - color of the track */
.nav ol::-webkit-scrollbar-track, .input::-webkit-scrollbar-track , .section::-webkit-scrollbar-track{
    background: #fff;
}

/* Handle - color of the draggable handle */
.nav ol::-webkit-scrollbar-thumb , .input::-webkit-scrollbar-thumb , .section::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 5px;
}

.textarea{
    border: 2px solid #fb6902;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.textarea textarea{
    padding: 10px;
    width: 100%;
}

.button{
    width: fit-content;
    padding: 10px;
    background-color: #fb6902;
    border-radius: 5px;
    align-self: flex-end;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
    color: #000;
}
.todo{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 800px;
}

.todos{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ece9e9;
    width: fit-content;
    max-width: 900px;
    max-height: 100px;
    padding: 8px;
    border-radius: 5px;
    overflow: scroll;
}
/* Track */
.todos::-webkit-scrollbar , .input::-webkit-scrollbar{
    width: 5px; /* width of the scrollbar */
    height: 2px;
}

/* Track - color of the track */
.todos::-webkit-scrollbar-track, .input::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle - color of the draggable handle */
.todos::-webkit-scrollbar-thumb , .input::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 5px;
}
.todoButton{
    width: fit-content;
    padding: 5px;
    background-color: #fb6902;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.add {
    display: flex;
    max-height: 1000px;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #fb6902;
    padding: 10px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.search{
    width: 40%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 14px;
    margin-right: 30px;
}

.tests{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}

.tests  span{
    display: flex;
    gap: 5px;
    font-size: 12px;
}

.test{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.show{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.show li{
    font-size: 12px;
}

.result{
    display: flex;
    gap: 10px;
}

.results{
    display: flex;
    flex-direction: column-reverse;
}
